:root {
  --color-bg: #FFFFFF;
  --color-primary: #D3AC3F;
  --color-second: #2B2B2B;
  --color-text: #000000;
  --color-white: #ffffff;
  --font-inter: 'Inter', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}