.header__clients {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 18px;
  line-height: 20px;
  color: #424F57;
}

.header__clients span {
  font-weight: 700;
}

.header__clients::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  background-color: #FD865B;
  border-radius: 50%;
}