@import "__filter/__filter.css";
@import "__filter-btn/__filter-btn.css";



.products__list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  /* gap: 4.5rem; */
  margin-bottom: 4.5rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

.credit {
  /* width: 20rem; */
  /* height: 10rem; */
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.credit-cards {
  /* width: 20rem; */
  /* height: 10rem; */
  background-color: blueviolet;
}

.debit-cards {
  /* width: 20rem; */
  /* height: 10rem; */
  background-color: aqua;
}

.loans {
  /* width: 20rem; */
  /* height: 10rem; */
  background-color: chocolate;
}

.product__title {
  display: block;
  line-height: 45px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 4.5rem;
  color: #152630;
}

.products__item {
  /* width: 37rem; */
  /* height: 36.5rem; */
  max-width: 37rem;
  box-shadow: 1px 2px 9px rgba(26, 64, 94, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}

.none {
  height: 0;
  margin-bottom: 0;
  transition: all .3s ease-in;
}